$primary-color: #444;
$secondary-color: #888;
$button-color: #f2f2f2;
$button-hover-color: #ddd;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 24px;
    background-color: $primary-color;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 320px;
}

.display {
    padding: 8px;
    background-color: $secondary-color;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    text-align: right;
    height: 60px;
}

.buttons {
    display: grid;
    gap: 8px;

    &--big {
        grid-template-columns: repeat(3, 1fr);
    }
    &--small {
        grid-template-columns: repeat(2, 1fr);
    }
}

button {
    padding: 8px;
    background-color: $button-color;
    border-radius: 10px;
    color: $primary-color;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s;

    &:hover {
        background-color: $button-hover-color;
    }
}

// Path: src/container/calc/index.js